html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  margin: 0.4em 0.75em 0.3em;
  padding: 0.4em 0.75em 0.3em;
  text-align: center;
  text-decoration: none;
}

.btn {
  padding: 0.4em 0.75em 0.3em;
  color: #fff;
  background-color: #000;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1.125rem;
  border: solid 3px;
  border-color: #fff;
  margin: 0.3em 2em;
}

.btn-subtle {
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
  background-color: #ccc;

}

.btn-ghost {
  border-width: 3px;
  border-color: black;
  background-color: #fff;
  color: #000;
  border-style: solid;
  font-size: 1.125rem;
  text-align: center;
}

.btn-warning {
  background-color: #f00;
  color: #fff;
  font-size: 1.125rem;
  text-align: center;
}

.btn-small {
  font-size: 0.875rem;
}

.btn-big {
  font-size: 1.5rem;

.btn-subtle:hover {
  background-color: #333;
}

.btn-ghost:hover {
  background-color: #333;
}

.btn-warning:hover {
  background-color: #333;
}

.btn:hover {
  background-color: #333;
}
